@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{

    .link{
        @apply hover:underline cursor-pointer 
    }

    .btn{
        @apply bg-[#f8f9fa] p-3 text-gray-800 ring-gray-200 text-sm rounded-md cursor-pointer hover:shadow-md hover:ring-1 active:ring-gray-300
    }
}   

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'rubik',sans-serif;
}